<%- include('./partials/headIndex') %>

    <main>

        <nav>
            <input class="searchbar" type="text" id="searchInput" onkeyup="search()" placeholder="Zoek een methode...">
        </nav>

        <section class="methods">
            <ul id="methodList">
                <% methods.forEach(method=> { %>
                    <li>
                        <section class="method">
                            <a href="/method/<%= method.slug %>/template">
                                <% if (method.template) { %>
                                    <img class="method-img" src="<%= method.template.url %>" alt="">
                                    <% } else { %>
                                        <img class="placeholder" src="/assets/sad.jpg" alt="">
                                        <% } %>
                                            <% if (method.template) { %>
                                                <h2>
                                                    <%= method.title %>
                                                </h2>
                                                <% } else { %>
                                                    <h2>
                                                        <%= method.title %>/werkt niet:(
                                                    </h2>
                                                    <% } %>
                            </a>
                        </section>
                    </li>
                    <% }) %>
            </ul>
        </section>

    </main>
    </body>