<%- include('./partials/head') %>

    <nav>
        <ul>
            <a href="/method/<%= method.slug %>/template">
                <li>
                    <h2>Template</h2>
                </li>
            </a>
            <a href="/method/<%= method.slug %>/beschrijving">
                <li>
                    <h2>Beschrijving</h2>
                </li>
            </a>
            </a>
            <a href="/method/<%= method.slug %>/stappenplan">
                <li>
                    <h2>Stappenplan</h2>
                </li>
            </a>
            </a>
            <li>
                <h2 class="bold">Voorbeelden</h2>
            </li>
            <a href="/method/<%= method.slug %>/form">
                <li>
                    <h2>Feedback</h2>
                </li>
            </a>
        </ul>
    </nav>
    </section>

    <section class="carousel">
        <button class="carousel-button-left">
            <img src="/assets/buttonL.png" alt="">
        </button>
        <section class="carousel-container">
            <ul class="carousel-list">
                <% method.examples.forEach(example=> { %>
                    <li class="carousel-slide current-slide">
                        <img class="carousel-img-blur" src="<%- example?.url %>" alt="">
                        <img class="carousel-img" src="<%- example?.url %>" alt="">
                    </li>
                    <% }) %>
            </ul>

        </section>
        <button class="carousel-button-right">
            <img src="/assets/buttonR.png" alt="">
        </button>
    </section>
    </main>
    </body>